
<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row>">
    <!-- BEGIN FORM -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="row" style="border: 1px dotted;">
        <div class="col-lg-12">

          <div id="user-data">
            <div class="form-group">
              <label for="name">Full name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                ngModel
                name="name"
                required>
            </div>
            <!--<button class="btn btn-default" type="button">Suggest an name</button>-->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email>
              <!--<span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>-->
            </div>
          </div>
          <div class="form-group">
            <label for="content-type">Content type</label>
            <select
              class="form-control"
              id="content-type"
              name="content-type"
              ngModel>
              <option value="photos">Photo(s) of Handcrafted Responses</option>
              <option value="story">Story of Lockdown Living</option>
              <option value="tune">Tune</option>
              <option value="song">Song</option>
              <option value="poem">Poem</option>
              <option value="digital_initiative">Digital Initiative Bringing People Together</option>
            </select>
          </div>
          <span>I'm only shown when there's a story</span>
        </div>
      </div>

      <app-file-upload></app-file-upload>

      <button class="btn btn-primary" type="submit">Submit</button>


    </form>
    <!-- END FORM -->
  </div>
</div>

<router-outlet></router-outlet>
