
<!--<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
</div>-->

<div class="container">
  <!--<div class="row">
    <app-header></app-header>
  </div>-->

  <div class="row">
    <div class="col-lg-12 title">Collecting Covid-19</div>

    <div class="col-lg-12" style="font-size: 14pt; padding-bottom: 1em; line-height: 1.5em;">
      <p>The University of Edinburgh Archives invites you to contribute your experiences of and responses to the COVID-19 pandemic.
        We are collecting all kinds of records that provide evidence of how University of Edinburgh life has been, and continues to be, affected.
        These include but are not limited to videos, photographs, creative projects, audio recordings, journals and diaries.
        Our collecting aims to provide a lasting collective memory of the University of Edinburgh community experience which will be an important resource for researchers in the years and decades to come.</p>

      <p>Please read this form carefully and fill in the information as fully as you can before submitting it and any records. Some fields are required* while others are optional.</p>

      <ul>
        <li>Please only submit material created by you and not copied from or based (in whole or in part) upon any other photographic, literary, or other material, except to the extent that such material is in the public domain, or you have permission of the copyright owner, or its use is allowed by "Fair Dealing" as prescribed by the terms of UK copyright law.</li>

        <li>Please carefully consider confidentiality, privacy and intellectual property law before submitting material.</li>

        <li>Your name and email address will be recorded when you upload the file as part of or confidential and secure collections management information.</li>
      </ul>
    </div>
  </div>

  <!-- BEGIN FORM -->
  <form [formGroup]="inputForm">

  <div class="row" style="border: 1px dotted;">
    <div class="col-lg-12">
      <h3>Contributor information</h3>

      <div class="col-12">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            name="email"
            required
            email
            formControlName="email">
          <span class="help-block" *ngIf="!isEmailValid ">Please enter a valid email!</span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="name">Full name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            formControlName="name">
          <span class="help-block" *ngIf="!isNameValid">Please enter a name!</span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="location">Where are you now?</label>
          <input
            type="text"
            id="location"
            class="form-control"
            formControlName="location"
            placeholder="In Edinburgh, the UK, another part of the world?"
            name="location">
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="affiliation">What is your affiliation with the University of Edinburgh?<br/></label>
          <input
            type="text"
            id="affiliation"
            class="form-control"
            formControlName="affiliation"
            placeholder="(e.g. 1st year veterinary student, project assistant, caterer, academic librarian, cleaner…)"
            name="affiliation">
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>Are you the sole creator of these materials?</label><br/>
          <div class="form-check">
            <input type="radio"
                   id="creator_y"
                   name="creator"
                   value="Yes"
                   formControlName="creator"
                   class="form-check-input custom-radio">
            <label for="creator_y"
                   class="form-check-label radio-label">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio"
                   id="creator_n"
                   name="creator"
                   value="No"
                   formControlName="creator"
                   class="form-check-input custom-radio">
            <label for="creator_n"
                   class="form-check-label radio-label">No</label>
          </div>
        </div>
      </div>

      <div *ngIf="isNotSoleCreator" class="additional">
        <p>Please confirm that other creators have given consent to submit by
        listing their full names and explain in the description field how you came to have the materials.</p>

        <div formArrayName="additionalCreators">
        <div class="col-12" *ngFor="let additionalCreator of additionalCreators.controls; let i=index">
          <div class="form-row">
            <div class="col-8">

              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{i + 1}}:</div>
                </div>
                <input type="text"
                       class="form-control"
                       id="additional_creator_{{i}}"
                       [formControlName]="i">
              </div>

            </div>
            <div class="col-auto">
              <button class="btn-sm btn-success"
                      (click)="addAdditionalCreator()"
                      *ngIf="(i + 1) == additionalCreators.controls.length"><span class="oi oi-plus"></span></button>

              <button class="btn-sm btn-danger"
                      (click)="removeAdditionalCreator()"
                      *ngIf="i > 0 && (i + 1) == additionalCreators.controls.length"><span class="oi oi-delete"></span></button>

            </div>
          </div>
        </div>
        </div>
          <!--<app-additional-creator *ngFor="let additionalCreator of this.additionalCreators"
                                  ></app-additional-creator>-->
      </div>


      <div class="col-12">
        <div class="form-group" formGroupName="content">
          <label>What type of material are you uploading?</label>
          <div class="form-check">
            <input type="checkbox"
                   name="photos"
                   formControlName="photos"
                   id="photos"
                   class="form-check-input custom-checkbox">
            <label for="photos"
                   class="form-check-label radio-label">Photos</label>
          </div>
          <div class="form-check">
            <input type="checkbox"
                   name="videos"
                   formControlName="videos"
                   id="videos"
                   class="form-check-input custom-checkbox">
            <label for="videos"
                   class="form-check-label radio-label">Videos</label>
          </div>
          <div class="form-check">
            <input type="checkbox"
                   name="audio"
                   formControlName="audio"
                   id="audio"
                   class="form-check-input custom-checkbox">
            <label for="audio"
              class="form-check-label radio-label">Audio</label>
          </div>
          <div class="form-check">
            <input type="checkbox"
                   name="text"
                   formControlName="text"
                   id="text"
                   class="form-check-input custom-checkbox">
            <label for="text"
              class="form-check-label radio-label">Text</label>
          </div>
          <div class="form-check">
            <input type="checkbox"
                   name="url"
                   formControlName="url"
                   id="url"
                   class="form-check-input custom-checkbox">
            <label for="url"
                   class="form-check-label radio-label">URL</label>
          </div>

          <div *ngIf="depositURL" class="additional">
            <p>Please list any URLs you want to deposit:</p>

            <div formArrayName="urls">
              <div class="col-12" *ngFor="let url of urls.controls; let i=index">
                <div class="form-row">
                  <div class="col-8">

                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">{{i + 1}}:</div>
                      </div>
                      <input type="text"
                             class="form-control"
                             id="url_{{i}}"
                             [formControlName]="i">
                    </div>

                  </div>
                  <div class="col-auto">
                    <button class="btn-sm btn-success"
                            (click)="addURL()"
                            *ngIf="(i + 1) == urls.controls.length"><span class="oi oi-plus"></span></button>

                    <button class="btn-sm btn-danger"
                            (click)="removeURL()"
                            *ngIf="i > 0 && (i + 1) == urls.controls.length"><span class="oi oi-delete"></span></button>

                  </div>
                </div>
              </div>
            </div>
            <!--<app-additional-creator *ngFor="let additionalCreator of this.additionalCreators"
                                    ></app-additional-creator>-->
          </div>

          <div class="form-check" style="padding-left: 0;">
            Other: <input type="text"
                          name="otherContentType"
                          id="otherContentType"
                          formControlName="otherContentType"
                          class="form-control">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="description">Description</label><br/>
          <textarea
            rows="8"
            name="description"
            id="description"
            formControlName="description"
            placeholder="Please describe the material including locations, events, dates."></textarea>
        </div>
      </div>

      <input
      type="hidden"
      name="uid"
      id="uid"
      formControlName="uid"
      class="form-control">
    </div>
  </div>
    <span *ngIf="content.errors">NOT!!!!</span>
  <div class="row" style="border: 1px dotted;">
    <div class="col-lg-12">
      <app-file-upload #fileUploadComponent
                       (setUid)="setUid($event)"
                       [uid]="this.inputForm.controls.uid.value"
                       [messenger]="messenger"
                       [recaptchaValue]="recaptchaValue"></app-file-upload>
    </div>
  </div>

  <div class="row" style="border: 1px dotted;">
    <div class="col-lg-12">
      <h3>Submission Agreement</h3>

      <div class="col-12 form-text">
        <div class="form-check">
          <input type="radio"
                 name="copy"
                 formControlName="copy"
                 id="copy"
                 class="form-check-input custom-checkbox">
          <label for="copy"
                 class="form-check-label radio-label">Any copyrights I may possess in this material and am entitled to assign, are hereby assigned to the University of Edinburgh.</label>
        </div>

        <div class="form-check">
          <input type="radio"
                 name="copy"
                 formControlName="copy"
                 id="copy2"
                 class="form-check-input custom-checkbox">
          <label for="copy2"
                 class="form-check-label radio-label">I do not assign copyright to the University of Edinburgh and wish to be contacted about any requests for use to be made that is not for educational purposes.</label>
        </div>

        <p>I hereby grant to the University of Edinburgh permission to add the material to its archival collections and preserve it for future generations of students, scholars, and researchers. I give the University of Edinburgh Archives permission to make the materials accessible to researchers and staff (subject to data privacy laws).</p>

        <h5>Acknowledgement of Persons Featured</h5>

        <p>I acknowledge that any people featured in the materials have granted me their permission to record or photograph them and submit the files to the University of Edinburgh for inclusion in its archive.</p>

        <h5>Personal Health Information Agreement</h5> 

        <p>I understand and agree that the University of Edinburgh will collect, process and manage personal data in accordance with relevant data protection laws I agree not to include personally identifiable information of (or information that could allow a third party to identify) any others including other students or employees of the University of Edinburgh - this includes their personal health information.</p>

        <p>By sending in this submission, you have read and agree to abide by the terms above.</p>

      </div>       

    </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <re-captcha
          formControlName="recaptchaReactive"
          required
          siteKey="6Lfx0PIUAAAAAI5XqYSOrGrYWX64VGaWkzZFwX84"
          (resolved)="recaptcha($event)"
        ></re-captcha>
      </div>
    </div>

    <div class="row" *ngIf="messenger.errors.length">
      <div class="col-lg-12">
        <app-errormodal [messenger]="messenger"></app-errormodal>
      </div>
    </div>



  <div class="row">
    <div class="col-lg-12 d-flex flex-row-reverse">
      <button class="btn btn-primary footer-btn" type="submit" (click)="clickSubmit()">Deposit</button>
      <button class="btn btn-secondary btn-warning footer-btn" type="button" (click)="reset({success: true})">Reset</button>
    </div>
  </div>
  </form>

<!-- END FORM -->
</div>

<router-outlet></router-outlet>
