* {
  font-family: 'Source Sans Pro',sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.ng-pristine {
  color: #a4a7ab !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid crimson;
}

.title {
  font-family: Perpetua;
  font-size: 28pt;
  text-transform: uppercase;
  padding: 0.5em;
}

.row {
  margin-bottom: 10px;
  padding-bottom: 1em;
}

.form-group span {
  padding: 1em;
  line-height: 1.4em;
}

textarea {
  width: 100%;
}

.radio-label {
  font-weight: initial;
  text-transform: initial;
  font-size: initial;
}

.custom-radio, .custom-checkbox {
  position: relative !important;
  /*margin-left: initial !important;*/
  margin: 0.5rem;

}
